/*                                                                                                                 
                                                                                                                
 333333333333333   hhhhhhh                  000000000            444444444                            1111111   
 3:::::::::::::::33 h:::::h                00:::::::::00         4::::::::4                           1::::::1   
 3::::::33333::::::3h:::::h              00:::::::::::::00      4:::::::::4                          1:::::::1   
 3333333     3:::::3h:::::h             0:::::::000:::::::0    4::::44::::4                          111:::::1   
             3:::::3 h::::h hhhhh       0::::::0   0::::::0   4::::4 4::::4     mmmmmmm    mmmmmmm      1::::1   
             3:::::3 h::::hh:::::hhh    0:::::0     0:::::0  4::::4  4::::4   mm:::::::m  m:::::::mm    1::::1   
     33333333:::::3  h::::::::::::::hh  0:::::0     0:::::0 4::::4   4::::4  m::::::::::mm::::::::::m   1::::1   
     3:::::::::::3   h:::::::hhh::::::h 0:::::0 000 0:::::04::::444444::::444m::::::::::::::::::::::m   1::::l   
     33333333:::::3  h::::::h   h::::::h0:::::0 000 0:::::04::::::::::::::::4m:::::mmm::::::mmm:::::m   1::::l   
             3:::::3 h:::::h     h:::::h0:::::0     0:::::04444444444:::::444m::::m   m::::m   m::::m   1::::l   
             3:::::3 h:::::h     h:::::h0:::::0     0:::::0          4::::4  m::::m   m::::m   m::::m   1::::l   
             3:::::3 h:::::h     h:::::h0::::::0   0::::::0          4::::4  m::::m   m::::m   m::::m   1::::l   
 3333333     3:::::3 h:::::h     h:::::h0:::::::000:::::::0          4::::4  m::::m   m::::m   m::::m111::::::111
 3::::::33333::::::3 h:::::h     h:::::h 00:::::::::::::00         44::::::44m::::m   m::::m   m::::m1::::::::::1
 3:::::::::::::::33  h:::::h     h:::::h   00:::::::::00           4::::::::4m::::m   m::::m   m::::m1::::::::::1
  333333333333333    hhhhhhh     hhhhhhh     000000000             4444444444mmmmmm   mmmmmm   mmmmmm111111111111
                                                                                                                 
                                                                                                                 
                                                                                                                 
                                                                                                                 
                                                                                                                 
                                                                                                                 
                                                                                                                  */
 
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: #f0f0f0;
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color:#f0f0f0;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; */
    background: #BE3144;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    
  }
  #navbar li{
    display: inline;
    padding:10px;
    
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
    display: inline;
  }
  
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    margin:1rem 0px;
  }
  
  .nav-list:hover {
    background: #45567D;
  }
  

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  #welcome-section p {
    font-size: 3rem;
    font-weight:200;
    font-style: italic;
    color:#BE3144;
  }

#projects {
    background: #45567D;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column; 
    padding-bottom: 3em;
    justify-items: center;
}
.btn {
    display: flex;
    justify-self: center;

    padding: 1rem 2rem;
    border-radius: 2px;
    width:fit-content;
}
.btn-show-all {
    font-size: 2rem;
    background: #303841;
    transition: background 0.3s ease-out;
    margin: 0 auto;
  }

  .btn-show-all:hover {
    background: #BE3144;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(10px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

#projects h2 {
    font-size: 50px;
    padding-top: 1em;
    border-bottom: #f0f0f0 solid;
    margin: 0px 20%;
    
    
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top:3em;
    justify-content: center;
    
    
}

.project{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 20px;
    width: calc(100vh / 2);
    height:auto;
    justify-content: center;


}

.project img {
    border-radius: 5px 5px 0px 0px;
}

.project pre {
    font-size:20px;
    text-align: center;
    width: 100%;
    background-color:#303841 ;
    border-radius: 0px 0px 5px 5px;
    
}
.project span{
    color:transparent;
}
.project:hover span{
    color:rgb(4, 199, 4);
    transition:color 0.3s ease-out;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #303841;
    
}

#contact p {
    font-size: 1rem;
    font-weight:200;
    font-style: italic;
    color:#BE3144;
  }

.contact-links {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.contact-details:hover {
    transform: translatey(-8px);
  }

.contact-links a {
    display: flex;
    flex-direction:row;
    padding:10px 1em;
    align-content: center;
}

footer {
    font-size: 16px;
    background-color:#303841;
    border-top:5px solid;
    border-color: #BE3144;
    text-align: center;
}

footer #excuse {
    font-size:10px;
    color:#BE3144;
}

@media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
}